html {
  font-family: 'Lato', 'Noto Sans Japanese', sans-serif;
}


form {
  min-height: 100%;
}

textarea#textarea-with-border {
  background-image:
    repeating-linear-gradient(
      #fff,
      #fff calc(1.5rem - 1px),
      #ced4da calc(1.5rem - 1px),
      #ced4da 1.5rem,
      #fff 1.5rem
    );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
}